---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/nicklogos.svg";
import { Image } from "astro:assets";
---

<Layout title="Nick's Stuff">
	<main>
		<div class="flex justify-center">
			<Image class="flex align-middle justify-center" src={logo} alt="My logo" />
		</div>
		<div class="flex flex-col py-4 justify-center mx-auto max-w-screen-sm space-y-4">
			<h1 class="font-bold text-slate-500 text-center">Hi, I'm Nick.</h1>
			<a
				href="/projects"
				class="flex justify-center items-center text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-xl text-xl dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
			>
				See Projects
				<svg
					class="w-4 h-4 ms-2 rtl:rotate-180"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9"></path>
				</svg>
			</a>
			<div class="flex justify-around">
				<div class="flex items-center justify-center space-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" height="32" width="30" viewBox="0 0 480 512"
						><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path
							fill="#919191"
							d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"
						></path></svg
					>
					<a
						class="font-medium text-slate-600 dark:text-slate-500 hover:underline"
						href="https://github.com/nanthony007">GitHub</a
					>
				</div>
				<div class="flex items-center justify-center space-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" height="32" width="36" viewBox="0 0 576 512"
						><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path
							fill="#919191"
							d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"
						></path></svg
					>
					<a
						class="font-medium text-slate-600 dark:text-slate-500 hover:underline"
						href="https://www.youtube.com/@nanthony007">YouTube</a
					>
				</div>
				<div class="flex items-center justify-center space-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" height="32" width="40" viewBox="0 0 640 512"
						><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path
							fill="#919191"
							d="M180.5 74.3C80.8 74.3 0 155.6 0 256S80.8 437.7 180.5 437.7 361 356.4 361 256 280.2 74.3 180.5 74.3zm288.3 10.6c-49.8 0-90.2 76.6-90.2 171.1s40.4 171.1 90.3 171.1 90.3-76.6 90.3-171.1H559C559 161.5 518.6 84.9 468.8 84.9zm139.5 17.8c-17.5 0-31.7 68.6-31.7 153.3s14.2 153.3 31.7 153.3S640 340.6 640 256C640 171.4 625.8 102.7 608.3 102.7z"
						></path></svg
					>
					<a
						class="font-medium text-slate-600 dark:text-slate-500 hover:underline"
						href="https://nanthony007.medium.com/">Blog</a
					>
				</div>
			</div>
		</div>
	</main>
</Layout>
